In [246]:
from bs4 import BeautifulSoup
import pandas as pd
import re
import requests
import csv

### Using web-scrapping technique, save to a csv file all the names and prices of the books from the following website (1-50): https://books.toscrape.com/

In [247]:
books_titles=[]
prices=[]
    
for i in range(1,51):
    page = requests.get("https://books.toscrape.com/catalogue/page-{}.html".format(i))
    soup = BeautifulSoup(page.content, 'html.parser')
    
    for b in soup.find_all('h3'):
        books_titles.append(b.text)
      
    for p in soup.find_all('p', class_ = 'price_color'):
        prices.append(p.text.replace('£',''))

In [254]:
table=[books_titles,prices]
df = pd.DataFrame(table).transpose()
df.columns=['Book_name', 'Price']
df.to_csv('BooksName_Prices.csv')
df

                            Book_name  Price
0                  A Light in the ...  51.77
1                  Tipping the Velvet  53.74
2                          Soumission  50.10
3                       Sharp Objects  47.82
4        Sapiens: A Brief History ...  54.23
..                                ...    ...
995  Alice in Wonderland (Alice's ...  55.53
996    Ajin: Demi-Human, Volume 1 ...  57.06
997         A Spy's Devotion (The ...  16.97
998           1st to Die (Women's ...  53.98
999           1,000 Places to See ...  26.08

[1000 rows x 2 columns]